<section class="hero-container">
	<div class="hero-body">
    {% if section.settings.hero_image_movil != blank or section.settings.hero_image_desktop != blank %}
      <picture>
        <source media="(min-width:767px)" srcset="{{ section.settings.hero_image_desktop | img_url: 'master' }}">
        <img
          src="{{ section.settings.hero_image_movil | img_url: 'master' }}"
          alt="{{ section.settings.hero_image_movil.alt }}"
        >
      </picture>
      {%- unless section.settings.show_button -%}
        <div class="btn-header">
          <a href="{{ section.settings.url_poduct }}" >{{ section.settings.text_button }}</a>
        </div>
      {%- endunless -%}
    {% endif %}
	</div>


</section>


{% schema %}

{
  "name": "Section Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image_movil",
      "label": "Inserte Imagen del baner Para Tamaño Movil"
    },
    {
      "type": "image_picker",
      "id": "hero_image_desktop",
      "label": "Inserte Imagen del baner Para Tamaño Laptop"
    },
    {
      "type": "text",
      "id": "text_button",
      "label": "Texto Boton",
      "default": "Comprar Ahora"
    },
    {
      "type": "url",
      "id": "url_poduct",
      "label": "URL destino"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "default": false,
      "label": "Ocultar Boton"
    }
  ],
  "presets": [
		{
			"name": "Hero"
		}
	]
}

{%
endschema %}
