
<div class="container">
	{% render 'breadcrumbs-two' %}
	<div class="products">
		<div class="product-medias">
			<div class="container-movil">
				{% render 'carousel', product_selected: section.settings.collection_product %}
			</div>

			<div class="category-carousel swiper-product">
				<div class="swiper-wrapper">
					{% for media in product.media %}
					<div class="swiper-slide">
						<div class="swiper-slide-content">
							{% render 'product-media', media: media %}
						</div>
						<h4>{{ product.vendor }}</h4>
						<p>{{ product.title }}</p>
						<h2>{{ product.price | money_without_trailing_zeros  }}</h2>
					</div>

					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>

				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		<div class="product-information"></div>
	</div>
</div>

{%- comment -%}
{%- endcomment -%}
<hr>
<P>product.title: {{ product.title }}</P>
<br>
<hr>
<hr>
<P>product.available: {{ product.available }}</P>
<br>
<hr>
<p>Este producto se encuentra en las siguientes colecciones:</p>
{% for collection in product.collections %}
	<ul>
		<li>
			- {{ collection.title }}
		</li>
	</ul>
{% endfor %}
<hr>
<br>
<p>product.compare_at_price: {{ product.compare_at_price | money_without_trailing_zeros }}</p>
<p>product.compare_at_price_max: {{ product.compare_at_price_max  | money_without_trailing_zeros }}</p>
<p>compare_at_price_min: {{ product.compare_at_price_min | money_without_trailing_zeros }}</p>
<br>
<hr>
<p>compare_at_price_varies: {{ product.compare_at_price_varies }} ??</p>
<hr>
<br>
<p>content: {{ product.content }}</p>
<br>
<hr>
<br>
<p>created_at: {{ product.created_at }}</p>
<br>
<hr>
<p>description: {{ product.description }}</p>
<br>
<hr>
<p>featured_image: {{ product.featured_image | img_tag }}</p>
<br>
<hr>
<p>Aspect ratio: {{ product.featured_image.aspect_ratio }}</p>
<br>
<hr>
<p>featured_media: {{ product.featured_media }}</p>
<br>
<hr>
<p>first_available_variant: {{ product.first_available_variant.inventory_quantity }}</p>
<br>
<hr>
<p>gift_card?: {{ product.gift_card? }}</p>
<br>
<hr>
<p>handle: {{ product.handle }}</p>
<br>
<hr>
<br>
<p>has_only_default_variant:</p>
{% if product.has_only_default_variant %}
  <input name="id" value="{{ variant.id }}" type="hidden">
{% else %}
  <select name="id">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}">{{ variant.title }}</option>
    {% endfor%}
  </select>
{% endif %}
<br>
<hr>
<br>
<p>id: {{ product.id }}</p>
<br>
<hr>
<br>
<p>images:</p>
{% for image in product.images %}
  {{ image | image_url }}
{% endfor %}
<br>
<hr>
<br>
<p>media:</p>
{% for media in product.media %}
  {{ media | media_tag }}
{% endfor %}
<br>
<hr>
<br>
<p>option:</p>
{% for option in product.options %}
  {{ option }}
{% endfor %}
<br>
<hr>
<br>
<p>option.size: {{ product.options.size }}</p>
<br>
<hr>
<br>
<p>options_by_name:</p>
	<label>
		Color
		<select>
			{% for color_option in product.options_by_name['Color'].values %}
				<option>{{ color_option }}</option>
			{% endfor %}
		</select>
	</label>
	<!-- Por talla -->
	<label>
		Tamaño
		<select>
			{% for color_option in product.options_by_name['tamaño'].values %}
				<option>{{ color_option }}</option>
			{% endfor %}
		</select>
	</label>
<br>
<hr>
<br>
<p>options_with_values:</p>
	{% for product_option in product.options_with_values %}
		<label>
			{{ product_option.name }}
			<select>
				{% for value in product_option.values %}
					<option {% if product_option.selected_value == value %}selected{% endif %}>
						{{ value }}
					</option>
				{% endfor %}
			</select>
		</label>
	{% endfor %}
<br>
<hr>
<br>
<p>product.price: {{ product.price }}</p>
<br>
<hr>
<br>
<p>product.price_max: {{ product.price_max }}</p>
<br>
<hr>
<br>
<p>product.price_min: {{ product.price_min }}</p>
<br>
<hr>
<br>
<p>product.price_varies: {{ product.price_varies }}</p>
<br>
<hr>
<br>
<p>product.published_at: {{ product.published_at }}</p>
<br>
<hr>
<br>
<p>product.requires_selling_plan: {{ product.requires_selling_plan }}</p>
<br>
<hr>
<br>
<p>product.selected_variant: {{ product.selected_variant.id }}</p>
<br>
<hr>
<br>
<p>product.tags: </p>
	{% for tag in product.tags %}
		- {{ tag }} <br>
	{% endfor %}
<br>
<hr>
<br>
<p>product.title: {{ product.title }}</p>
<br>
<hr>
<br>
<p>product.type: {{ product.type }}</p>
<br>
<hr>
<br>
<p>product.url: {{ product.url }}</p>
<br>
<hr>
<br>
<p>product.variants: {{ product.variants }}</p>
<br>
<hr>
<br>
<p>product.vendor: {{ product.vendor }}</p>
<br>
<hr>


<select name="id">
  {% for variant in product.variants %}
    <option value="{{ variant.id }}"
      {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
    >
      {{ variant.title }} - {{ variant.price | money }}
    </option>
  {% endfor %}
</select>

{%- comment -%}
<!-- <script>
	console.log('selected_or_first_available_variant', {{ product.selected_or_first_available_variant | json }})
</script>
<script>
	console.log('selected_or_first_available_selling_plan_allocation:', {{ product.selected_or_first_available_selling_plan_allocation | json }})
</script>
<script>
	console.log('selected_selling_plan:', {{ product.selected_selling_plan | json }})
</script> -->
{%- endcomment -%}

